# Make compatible for Python 2 and Python 3 -- But didnot work with Python 3 even though I tried both `pip install urllib3` or `conda install urllib3`

In [1]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [2]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q=SELECT'

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [3]:
test = '''
SELECT *
FROM fb55.citibike
LIMIT 3
'''

In [4]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990,1

In [5]:
task1_1 = '''
SELECT *
FROM fb55.citibike
WHERE tripduration < 3*60*60
ORDER BY start_station_id ASC, tripduration DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_1)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9115,-73.993929,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,9054,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,NaN,W 52 St & 11 Ave,NaN,40355,-73.993929,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,40341,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,NaN,W 52 St & 11 Ave,NaN,12996,-73.993929,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,12938,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,NaN,W 52 St & 11 Ave,NaN,11359,-73.993929,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,11298,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,NaN,W 52 St & 11 Ave,NaN,13695,-73.993929,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,13647,40.767272,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,NaN,W 52 St & 11 Ave,NaN,9802,-73.993929,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,9742,40.767272,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,NaN,W 52 St & 11 Ave,NaN,11301,-73.993929,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,11240,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,NaN,W 52 St & 11 Ave,NaN,20364,-73.993929,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,20309,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,NaN,W 52 St & 11 Ave,NaN,24990,-73.993929,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,24953,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1
10,NaN,W 52 St & 11 Ave,NaN,18292,-73.993929,1382,2015-02-04 17:23:00+00,2015-02-04 17:46:00+00,72,18242,40.767272,369,Washington Pl & 6 Ave,40.732241,-74.000264,19059,Subscriber,1969.0,1
11,NaN,W 52 St & 11 Ave,NaN,19553,-73.993929,1366,2015-02-04 18:40:00+00,2015-02-04 19:02:00+00,72,19501,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,20139,Subscriber,1971.0,1
12,NaN,W 52 St & 11 Ave,NaN,9147,-73.993929,1324,2015-02-03 10:40:00+00,2015-02-03 11:02:00+00,72,9087,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,19275,Subscriber,1974.0,1
13,NaN,W 52 St & 11 Ave,NaN,15249,-73.993929,1293,2015-02-04 10:27:00+00,2015-02-04 10:48:00+00,72,15205,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,17034,Subscriber,1974.0,1
14,NaN,W 52 St & 11 Ave,NaN,29826,-73.993929,1242,2015-02-05 19:28:00+00,2015-02-05 19:48:00+00,72,29783,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,20068,Subscriber,1971.0,1
15,NaN,W 52 St & 11 Ave,NaN,25994,-73.993929,1156,2015-02-05 13:14:00+00,2015-02-05 13:33:00+00,72,25953,40.767272,487,E 20 St & FDR Drive,40.733143,-73.975739,16336,Subscriber,1966.0,1
16,NaN,W 52 St & 11 Ave,NaN,40774,-73.993929,1127,2015-02-07 10:41:00+00,2015-02-07 10:59:00+00,72,40761,40.767272,382,University Pl & E 14 St,40.734927,-73.992005,20239,Subscriber,1970.0,1
17,NaN,W 52 St & 11 Ave,NaN,6602,-73.993929,1109,2015-02-02 06:35:00+00,2015-02-02 06:53:00+00,72,6536,40.767272,446,W 24 St & 7 Ave,40.744876,-73.995299,19154,Subscriber,1970.0,1
18,NaN,W 52 St & 11 Ave,NaN,21534,-73.993929,1095,2015-02-04 23:00:00+00,2015-02-04 23:19:00+00,72,21477,40.767272,393,E 5 St & Avenue C,40.722992,-73.979955,18808,Subscriber,1955.0,1
19,NaN,W 52 St & 11 Ave,NaN,11737,-73.993929,1082,2015-02-03 19:06:00+00,2015-02-03 19:24:00+00,72,11676,40.767272,463,9 Ave & W 16 St,40.742065,-74.004432,19721,Subscriber,1984.0,1
20,NaN,W 52 St & 11 Ave,NaN,11259,-73.993929,1074,2015-02-03 18:12:00+00,2015-02-03 18:29:00+00,72,11198,40.767272,367,E 53 St & Lexington Ave,40.758281,-73.970694,21021,Subscriber,1964.0,1
21,NaN,W 52 St & 11 Ave,NaN,15569,-73.993929,1054,2015-02-04 11:34:00+00,2015-02-04 11:52:00+00,72,15525,40.767272,470,W 20 St & 8 Ave,40.743453,-74.000040,15621,Subscriber,1954.0,2
22,NaN,W 52 St & 11 Ave,NaN,7515,-73.993929,1051,2015-02-02 18:13:00+00,2015-02-02 18:31:00+00,72,7449,40.767272,367,E 53 St & Lexington Ave,40.758281,-73.970694,18199,Subscriber,1964.0,1
23,NaN,W 52 St & 11 Ave,NaN,41190,-73.993929,1046,2015-02-07 11:43:00+00,2015-02-07 12:01:00+00,72,41177,40.767272,440,E 45 St & 3 Ave,40.752554,-73.972826,19400,Subscriber,1992.0,1
24,NaN,W 52 St & 11 Ave,NaN,38384,-73.993929,984,2015-02-06 19:30:00+00,2015-02-06 19:46:00+00,72,38358,40.767272,463,9 Ave & W 16 St,40.742065,-74.004432,14589,Subscriber,1984.0,1
25,NaN,W 52 St & 11 Ave,NaN,32812,-73.993929,977,2015-02-06 09:15:00+00,2015-02-06 09:32:00+00,72,32776,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,21008,Subscriber,1968.0,1
26,NaN,W 52 St & 11 Ave,NaN,19994,-73.993929,971,2015-02-04 19:12:00+00,2015-02-04 19:28:00+00,72,19939,40.767272,463,9 Ave & W 16 St,40.742065,-74.004432,20188,Subscriber,1984.0,1
27,NaN,W 52 St & 11 Ave,NaN,1597,-73.993929,962,2015-02-01 11:47:00+00,2015-02-01 12:03:00+00,72,1527,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,16524,Subscriber,1977.0,1
28,NaN,W 52 St & 11 Ave,NaN,455,-73.993929,961,2015-02-01 08:38:00+00,2015-02-01 08:54:00+00,72,387,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,20786,Subscriber,1972.0,2
29,NaN,W 52 St & 11 Ave,NaN,32825,-73.993929,953,2015-02-06 09:16:00+00,2015-02-06 09:32:00+00,72,32789,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,18659,Subscriber,1969.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,NaN,South End Ave & Liberty St,NaN,11154,-74.015756,252,2015-02-03 18:00:00+00,2015-02-03 18:04:00+00,3002,11092,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15184,Subscriber,1944.0,1
46122,NaN,South End Ave & Liberty St,NaN,29574,-74.015756,251,2015-02-05 19:04:00+00,2015-02-05 19:09:00+00,3002,29531,40.711512,2008,Little West St & 1 Pl,40.705693,-74.016777,20663,Subscriber,1980.0,1
46123,NaN,South End Ave & Liberty St,NaN,31735,-74.015756,243,2015-02-06 07:57:00+00,2015-02-06 08:01:00+00,3002,31692,40.711512,195,Liberty St & Broadway,40.709056,-74.010434,20226,Subscriber,1985.0,1
46124,NaN,South End Ave & Liberty St,NaN,31716,-74.015756,243,2015-02-06 07:55:00+00,2015-02-06 07:59:00+00,3002,31673,40.711512,363,West Thames St,40.708347,-74.017134,20605,Subscriber,1958.0,2
46125,NaN,South End Ave & Liberty St,NaN,25306,-74.015756,241,2015-02-05 11:23:00+00,2015-02-05 11:27:00+00,3002,25268,40.711512,195,Liberty St & Broadway,40.709056,-74.010434,19560,Subscriber,1958.0,1
46126,NaN,South End Ave & Liberty St,NaN,7933,-74.015756,239,2015-02-02 23:03:00+00,2015-02-02 23:07:00+00,3002,7866,40.711512,2008,Little West St & 1 Pl,40.705693,-74.016777,17442,Subscriber,1973.0,1
46127,NaN,South End Ave & Liberty St,NaN,22801,-74.015756,234,2015-02-05 07:54:00+00,2015-02-05 07:58:00+00,3002,22761,40.711512,363,West Thames St,40.708347,-74.017134,20188,Subscriber,1958.0,2
46128,NaN,South End Ave & Liberty St,NaN,20428,-74.015756,217,2015-02-04 19:53:00+00,2015-02-04 19:56:00+00,3002,20373,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,19403,Subscriber,1959.0,2
46129,NaN,South End Ave & Liberty St,NaN,28924,-74.015756,215,2015-02-05 18:15:00+00,2015-02-05 18:19:00+00,3002,28881,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,17658,Subscriber,1965.0,1
46130,NaN,South End Ave & Liberty St,NaN,40821,-74.015756,211,2015-02-07 10:45:00+00,2015-02-07 10:48:00+00,3002,40808,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,14950,Subscriber,1957.0,2
46131,NaN,South End Ave & Liberty St,NaN,37242,-74.015756,208,2015-02-06 18:00:00+00,2015-02-06 18:04:00+00,3002,37215,40.711512,2008,Little West St & 1 Pl,40.705693,-74.016777,18718,Subscriber,1984.0,1
46132,NaN,South End Ave & Liberty St,NaN,38368,-74.015756,197,2015-02-06 19:28:00+00,2015-02-06 19:32:00+00,3002,38342,40.711512,195,Liberty St & Broadway,40.709056,-74.010434,15861,Subscriber,1985.0,1
46133,NaN,South End Ave & Liberty St,NaN,39920,-74.015756,193,2015-02-07 08:23:00+00,2015-02-07 08:26:00+00,3002,39902,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15007,Subscriber,1959.0,2
46134,NaN,South End Ave & Liberty St,NaN,11313,-74.015756,191,2015-02-03 18:16:00+00,2015-02-03 18:19:00+00,3002,11252,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15171,Subscriber,1970.0,2
46135,NaN,South End Ave & Liberty St,NaN,17244,-74.015756,181,2015-02-04 15:48:00+00,2015-02-04 15:51:00+00,3002,17198,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,21228,Subscriber,1969.0,1
46136,NaN,South End Ave & Liberty St,NaN,3911,-74.015756,181,2015-02-01 15:47:00+00,2015-02-01 15:50:00+00,3002,3844,40.711512,2008,Little West St & 1 Pl,40.705693,-74.016777,20876,Subscriber,1984.0,1
46137,NaN,South End Ave & Liberty St,NaN,44784,-74.015756,179,2015-02-07 18:44:00+00,2015-02-07 18:47:00+00,3002,44778,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,21366,Subscriber,1973.0,1
46138,NaN,South End Ave & Liberty St,NaN,12230,-74.015756,170,2015-02-03 20:40:00+00,2015-02-03 20:43:00+00,3002,12171,40.711512,363,West Thames St,40.708347,-74.017134,16155,Subscriber,1979.0,1
46139,NaN,South End Ave & Liberty St,NaN,44493,-74.015756,167,2015-02-07 18:10:00+00,2015-02-07 18:13:00+00,3002,44488,40.711512,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1972.0,2
46140,NaN,South End Ave & Liberty St,NaN,36574,-74.015756,163,2015-02-06 17:19:00+00,2015-02-06 17:22:00+00,3002,36546,40.711512,363,West Thames St,40.708347,-74.017134,18048,Subscriber,1978.0,1
46141,NaN,South End Ave & Liberty St,NaN,44847,-74.015756,162,2015-02-07 18:55:00+00,2015-02-07 18:57:00+00,3002,44843,40.711512,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1981.0,2
46142,NaN,South End Ave & Liberty St,NaN,39910,-74.015756,151,2015-02-07 08:20:00+00,2015-02-07 08:23:00+00,3002,39892,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15008,Subscriber,1961.0,1
46143,NaN,South End Ave & Liberty St,NaN,32655,-74.015756,150,2015-02-06 09:02:00+00,2015-02-06 09:05:00+00,3002,32618,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,20131,Subscriber,1978.0,2
46144,NaN,South End Ave & Liberty St,NaN,21924,-74.015756,134,2015-02-05 05:58:00+00,2015-02-05 06:00:00+00,3002,21869,40.711512,363,West Thames St,40.708347,-74.017134,20547,Subscriber,1974.0,1
46145,NaN,South End Ave & Liberty St,NaN,28336,-74.015756,132,2015-02-05 17:37:00+00,2015-02-05 17:39:00+00,3002,28292,40.711512,363,West Thames St,40.708347,-74.017134,20663,Subscriber,1968.0,2
46146,NaN,South End Ave & Liberty St,NaN,44134,-74.015756,118,2015-02-07 17:25:00+00,2015-02-07 17:27:00+00,3002,44128,40.711512,363,West Thames St,40.708347,-74.017134,17272,Subscriber,1982.0,1
46147,NaN,South End Ave & Liberty St,NaN,41351,-74.015756,108,2015-02-07 12:07:00+00,2015-02-07 12:09:00+00,3002,41340,40.711512,363,West Thames St,40.708347,-74.017134,18470,Subscriber,1979.0,1
46148,NaN,South End Ave & Liberty St,NaN,8917,-74.015756,99,2015-02-03 09:37:00+00,2015-02-03 09:39:00+00,3002,8857,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,18107,Subscriber,1981.0,1
46149,NaN,South End Ave & Liberty St,NaN,13826,-74.015756,85,2015-02-04 08:16:00+00,2015-02-04 08:18:00+00,3002,13778,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,16585,Subscriber,1967.0,1
46150,NaN,South End Ave & Liberty St,NaN,27401,-74.015756,79,2015-02-05 16:29:00+00,2015-02-05 16:30:00+00,3002,27360,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,17061,Subscriber,1954.0,1

In [6]:
task1_2_a = '''
SELECT *
FROM fb55.citibike
WHERE tripduration < 3*60*60
ORDER BY start_station_id ASC, tripduration DESC
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_2_a)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,9115,-73.993929,2099,2015-02-03 10:28:00+00,2015-02-03 11:02:00+00,72,9054,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,18653,Subscriber,1966.0,2
1,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
2,NaN,W 52 St & 11 Ave,NaN,40355,-73.993929,1914,2015-02-07 09:49:00+00,2015-02-07 10:21:00+00,72,40341,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,21520,Subscriber,1966.0,2
3,NaN,W 52 St & 11 Ave,NaN,12996,-73.993929,1801,2015-02-04 06:32:00+00,2015-02-04 07:02:00+00,72,12938,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,15161,Subscriber,1959.0,2
4,NaN,W 52 St & 11 Ave,NaN,11359,-73.993929,1678,2015-02-03 18:21:00+00,2015-02-03 18:49:00+00,72,11298,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21500,Subscriber,1964.0,1
5,NaN,W 52 St & 11 Ave,NaN,13695,-73.993929,1537,2015-02-04 08:07:00+00,2015-02-04 08:33:00+00,72,13647,40.767272,487,E 20 St & FDR Drive,40.733143,-73.975739,18900,Subscriber,1977.0,2
6,NaN,W 52 St & 11 Ave,NaN,9802,-73.993929,1535,2015-02-03 14:23:00+00,2015-02-03 14:48:00+00,72,9742,40.767272,334,W 20 St & 7 Ave,40.742388,-73.997262,15117,Subscriber,1956.0,2
7,NaN,W 52 St & 11 Ave,NaN,11301,-73.993929,1518,2015-02-03 18:16:00+00,2015-02-03 18:42:00+00,72,11240,40.767272,476,E 31 St & 3 Ave,40.743943,-73.979661,19039,Subscriber,1971.0,1
8,NaN,W 52 St & 11 Ave,NaN,20364,-73.993929,1493,2015-02-04 19:47:00+00,2015-02-04 20:12:00+00,72,20309,40.767272,79,Franklin St & W Broadway,40.719116,-74.006667,21080,Subscriber,1964.0,1
9,NaN,W 52 St & 11 Ave,NaN,24990,-73.993929,1388,2015-02-05 10:34:00+00,2015-02-05 10:58:00+00,72,24953,40.767272,127,Barrow St & Hudson St,40.731724,-74.006744,19672,Subscriber,1974.0,1

In [7]:
task1_2_b = '''
SELECT *
FROM fb55.citibike
WHERE tripduration < 3*60*60
ORDER BY start_station_id DESC, tripduration ASC
LIMIT 10
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_2_b)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,South End Ave & Liberty St,NaN,27401,-74.015756,79,2015-02-05 16:29:00+00,2015-02-05 16:30:00+00,3002,27360,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,17061,Subscriber,1954,1
1,NaN,South End Ave & Liberty St,NaN,13826,-74.015756,85,2015-02-04 08:16:00+00,2015-02-04 08:18:00+00,3002,13778,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,16585,Subscriber,1967,1
2,NaN,South End Ave & Liberty St,NaN,8917,-74.015756,99,2015-02-03 09:37:00+00,2015-02-03 09:39:00+00,3002,8857,40.711512,3002,South End Ave & Liberty St,40.711512,-74.015756,18107,Subscriber,1981,1
3,NaN,South End Ave & Liberty St,NaN,41351,-74.015756,108,2015-02-07 12:07:00+00,2015-02-07 12:09:00+00,3002,41340,40.711512,363,West Thames St,40.708347,-74.017134,18470,Subscriber,1979,1
4,NaN,South End Ave & Liberty St,NaN,44134,-74.015756,118,2015-02-07 17:25:00+00,2015-02-07 17:27:00+00,3002,44128,40.711512,363,West Thames St,40.708347,-74.017134,17272,Subscriber,1982,1
5,NaN,South End Ave & Liberty St,NaN,28336,-74.015756,132,2015-02-05 17:37:00+00,2015-02-05 17:39:00+00,3002,28292,40.711512,363,West Thames St,40.708347,-74.017134,20663,Subscriber,1968,2
6,NaN,South End Ave & Liberty St,NaN,21924,-74.015756,134,2015-02-05 05:58:00+00,2015-02-05 06:00:00+00,3002,21869,40.711512,363,West Thames St,40.708347,-74.017134,20547,Subscriber,1974,1
7,NaN,South End Ave & Liberty St,NaN,32655,-74.015756,150,2015-02-06 09:02:00+00,2015-02-06 09:05:00+00,3002,32618,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,20131,Subscriber,1978,2
8,NaN,South End Ave & Liberty St,NaN,39910,-74.015756,151,2015-02-07 08:20:00+00,2015-02-07 08:23:00+00,3002,39892,40.711512,327,Vesey Pl & River Terrace,40.715338,-74.016584,15008,Subscriber,1961,1
9,NaN,South End Ave & Liberty St,NaN,44847,-74.015756,162,2015-02-07 18:55:00+00,2015-02-07 18:57:00+00,3002,44843,40.711512,363,West Thames St,40.708347,-74.017134,17658,Subscriber,1981,2

In [8]:
task1_3 = '''
SELECT DISTINCT start_station_id
FROM fb55.citibike
ORDER BY start_station_id ASC

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_3)), sep=',')

     start_station_id  Unnamed: 1
0                  72         NaN
1                  79         NaN
2                  82         NaN
3                  83         NaN
4                 116         NaN
5                 119         NaN
6                 120         NaN
7                 127         NaN
8                 128         NaN
9                 137         NaN
10                143         NaN
11                144         NaN
12                146         NaN
13                147         NaN
14                150         NaN
15                151         NaN
16                152         NaN
17                153         NaN
18                157         NaN
19                160         NaN
20                161         NaN
21                164         NaN
22                167         NaN
23                168         NaN
24                173         NaN
25                174         NaN
26                195         NaN
27                212         NaN
28                216         NaN
29                217         NaN
..                ...         ...
297               525         NaN
298               526         NaN
299               527         NaN
300               528         NaN
301               529         NaN
302               530         NaN
303               531         NaN
304               532         NaN
305               533         NaN
306               534         NaN
307               537         NaN
308               538         NaN
309               539         NaN
310               545         NaN
311               546         NaN
312              2000         NaN
313              2001         NaN
314              2002         NaN
315              2004         NaN
316              2005         NaN
317              2006         NaN
318              2008         NaN
319              2009         NaN
320              2010         NaN
321              2012         NaN
322              2017         NaN
323              2021         NaN
324              2022         NaN
325              2023         NaN
326              3002         NaN

[327 rows x 2 columns]

In [9]:
task1_4_a = '''
SELECT start_station_id, COUNT(cartodb_id)
FROM fb55.citibike
GROUP BY start_station_id
ORDER BY start_station_id ASC

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_4_a)), sep=',')

     start_station_id  count
0                  72    114
1                  79     71
2                  82     49
3                  83     36
4                 116    288
5                 119     19
6                 120     17
7                 127    209
8                 128    247
9                 137     97
10                143     29
11                144      7
12                146    101
13                147    200
14                150    111
15                151    288
16                152     71
17                153    298
18                157     45
19                160    138
20                161    203
21                164    130
22                167    254
23                168    327
24                173    213
25                174    209
26                195    137
27                212    186
28                216     12
29                217     14
..                ...    ...
297               525     53
298               526    213
299               527    319
300               528    302
301               529    221
302               530    120
303               531    212
304               532     50
305               533    196
306               534     70
307               537    372
308               538    153
309               539     54
310               545    229
311               546    227
312              2000     50
313              2001      4
314              2002     45
315              2004    112
316              2005      7
317              2006     79
318              2008     86
319              2009    107
320              2010     76
321              2012    256
322              2017     86
323              2021    141
324              2022     96
325              2023     91
326              3002    184

[327 rows x 2 columns]

In [10]:
task1_4_b = '''
SELECT start_station_id, MAX(tripduration) as max, MIN(tripduration) as min, AVG(tripduration) as avg
FROM fb55.citibike
GROUP BY start_station_id
ORDER BY start_station_id ASC

'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task1_4_b)), sep=',')

     start_station_id    max  min          avg
0                  72   2099  107   742.701754
1                  79   1916  149   659.140845
2                  82   1581  138   445.346939
3                  83  33647   73  1696.555556
4                 116   2081   66   543.965278
5                 119   2167  278  1044.789474
6                 120   2131  270   979.882353
7                 127   5776   83   710.846890
8                 128   2875   62   664.206478
9                 137  13156   85   825.804124
10                143   2516  116   779.931034
11                144    731  238   443.714286
12                146   2809   68   639.336634
13                147   1996  104   626.510000
14                150   2906   88   648.873874
15                151   5968   65   597.163194
16                152  15251  115   843.830986
17                153   2128   73   569.798658
18                157   3201  118   741.955556
19                160   3090   98   585.028986
20                161  17307   62   754.463054
21                164   3063  143   796.115385
22                167  23588   68   702.118110
23                168   5321   70   627.486239
24                173  15636   66   624.056338
25                174  20515   74   817.674641
26                195  42784   86   851.839416
27                212   2191   96   633.586022
28                216   2642  250   984.666667
29                217   1814   97   596.714286
..                ...    ...  ...          ...
297               525   2028  188   640.245283
298               526   2056   77   574.666667
299               527   5090   62   687.617555
300               528   2720   75   660.039735
301               529   5094   71   663.968326
302               530   3009  239   871.475000
303               531   3033   61   696.693396
304               532   2167  198  1076.600000
305               533   6387   64   619.862245
306               534   3498   65   750.842857
307               537   5949   66   661.569892
308               538   2535  173   579.908497
309               539   2685  198   905.444444
310               545   2813   76   724.860262
311               546   1935   70   568.158590
312              2000   2057  124   746.800000
313              2001   1217  184   513.000000
314              2002   2426   77  1116.711111
315              2004   6204  203   765.848214
316              2005   2513  545  1130.285714
317              2006   3459   90  1130.531646
318              2008   3476   94   832.220930
319              2009   2765   60   777.794393
320              2010   2610  167   763.184211
321              2012   2026   79   714.519531
322              2017   2476  109   763.383721
323              2021   6592   90   738.815603
324              2022   2495  107   979.062500
325              2023   2454  108   771.978022
326              3002   7225   79   714.646739

[327 rows x 4 columns]

In [57]:
task2_1 = '''
SELECT *
FROM fb55.citibike
WHERE starttime >= '2015-02-02' AND starttime < '2015-02-03'
ORDER BY starttime DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_1)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2
1,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
2,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
3,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
4,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
5,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
6,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
7,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
8,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
9,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
10,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
11,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
12,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
13,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
14,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
15,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
16,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
17,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
18,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
19,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
20,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
21,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
22,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
23,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
24,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
25,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
26,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
27,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
28,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
29,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Greenwich Ave & Charles St,NaN,6539,-74.000271,138,2015-02-02 00:33:00+00,2015-02-02 00:35:00+00,383,6471,40.735238,252,MacDougal St & Washington Sq,40.732264,-73.998522,17456,Subscriber,1968.0,1
1430,NaN,Greenwich Ave & 8 Ave,NaN,6538,-74.002638,309,2015-02-02 00:31:00+00,2015-02-02 00:36:00+00,284,6470,40.739017,494,W 26 St & 8 Ave,40.747348,-73.997236,18472,Subscriber,1982.0,1
1431,NaN,Clermont Ave & Park Ave,NaN,6537,-73.971297,153,2015-02-02 00:29:00+00,2015-02-02 00:31:00+00,421,6469,40.695734,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,17636,Subscriber,1989.0,1
1432,NaN,W 42 St & 8 Ave,NaN,6536,-73.990985,268,2015-02-02 00:29:00+00,2015-02-02 00:34:00+00,529,6468,40.757570,478,11 Ave & W 41 St,40.760301,-73.998842,20638,Subscriber,1990.0,1
1433,NaN,Pike St & Monroe St,NaN,6535,-73.991930,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,6467,40.711731,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
1434,NaN,E 3 St & 1 Ave,NaN,6534,-73.987834,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,6466,40.724677,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
1435,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
1436,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
1437,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
1438,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
1439,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
1440,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
1441,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
1442,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
1443,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
1444,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
1445,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
1446,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
1447,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
1448,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
1449,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
1450,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
1451,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
1452,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
1453,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
1454,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
1455,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
1456,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
1457,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
1458,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1

In [87]:
task2_2 = '''
SELECT start_station_id, AVG(tripduration)
FROM fb55.citibike
WHERE LEFT(TO_CHAR(starttime, 'DAY'), 5) = 'SATUR' OR LEFT(TO_CHAR(starttime, 'DAY'), 4) = 'SUND'
GROUP BY start_station_id
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_2)), sep=',')

     start_station_id          avg
0                  72   643.703704
1                  79   604.476190
2                  82   435.761905
3                  83   467.500000
4                 116   459.350649
5                 119   638.750000
6                 120   475.714286
7                 127   612.566667
8                 128   650.936709
9                 137   573.166667
10                143  1032.625000
11                144   623.000000
12                146   692.363636
13                147   633.178082
14                150   568.131579
15                151   623.372549
16                152   711.000000
17                153   668.754717
18                157   693.090909
19                160   575.551724
20                161   603.000000
21                164   654.975000
22                167   950.477612
23                168   624.114286
24                173  1010.104167
25                174   626.157895
26                195   537.047619
27                212   619.966102
28                216   934.000000
29                217   536.428571
..                ...          ...
297               525   782.550000
298               526   694.075000
299               527   770.364706
300               528   659.373913
301               529   579.142857
302               530   842.727273
303               531   674.239437
304               532  1156.000000
305               533   693.357143
306               534   735.600000
307               537   583.495495
308               538   500.100000
309               539   796.210526
310               545   621.025316
311               546   547.189655
312              2000   628.944444
313              2001  1217.000000
314              2002  1063.250000
315              2004   654.962963
316              2005   776.000000
317              2006  1266.580000
318              2008  1095.714286
319              2009   772.692308
320              2010   700.920000
321              2012   591.812500
322              2017   513.444444
323              2021   762.931818
324              2022  1095.857143
325              2023   707.545455
326              3002   769.389831

[327 rows x 2 columns]

In [92]:
task2_3 = '''
SELECT start_station_id, AVG(tripduration)
FROM fb55.citibike
WHERE LEFT(TO_CHAR(starttime, 'DAY'), 5) <> 'SATUR' AND LEFT(TO_CHAR(starttime, 'DAY'), 4) <> 'SUND'
GROUP BY start_station_id
ORDER BY start_station_id
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_3)), sep=',')

     start_station_id          avg
0                  72   773.425287
1                  79   682.100000
2                  82   452.535714
3                  83  2047.714286
4                 116   574.843602
5                 119  1153.066667
6                 120  1332.800000
7                 127   750.422819
8                 128   670.446429
9                 137   861.470588
10                143   683.666667
11                144   413.833333
12                146   613.602941
13                147   622.677165
14                150   690.904110
15                151   582.790323
16                152   946.775000
17                153   548.391837
18                157   788.695652
19                160   587.550459
20                161   837.709924
21                164   858.844444
22                167   613.133690
23                168   629.081081
24                173   511.751515
25                174   860.233918
26                195   908.827586
27                212   639.913386
28                216  1010.000000
29                217   657.000000
..                ...          ...
297               525   554.000000
298               526   547.057803
299               527   657.559829
300               528   660.449198
301               529   676.274611
302               530   882.379310
303               531   708.000000
304               532  1031.937500
305               533   614.208791
306               534   753.383333
307               537   694.773946
308               538   591.909774
309               539   964.742857
310               545   779.546667
311               546   575.355030
312              2000   813.093750
313              2001   278.333333
314              2002  1136.151515
315              2004   801.070588
316              2005  1189.333333
317              2006   895.965517
318              2008   747.092308
319              2009   780.720588
320              2010   793.705882
321              2012   742.836538
322              2017   792.597403
323              2021   727.876289
324              2022   946.360000
325              2023   780.837500
326              3002   688.808000

[327 rows x 2 columns]

In [96]:
task3_1 = '''
SELECT start_station_name, start_station_longitude, start_station_latitude
FROM fb55.citibike
GROUP BY start_station_name, start_station_longitude, start_station_latitude
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_1)), sep=',')

,start_station_name,start_station_longitude,start_station_latitude
0,Watts St & Greenwich St,-74.009660,40.724055
1,8 Ave & W 33 St,-73.993934,40.751551
2,Murray St & West St,-74.013012,40.714979
3,W 24 St & 7 Ave,-73.995299,40.744876
4,W 22 St & 8 Ave,-73.999154,40.744751
5,MacDougal St & Washington Sq,-73.998522,40.732264
6,W 22 St & 10 Ave,-74.004519,40.746920
7,Dean St & 4 Ave,-73.978951,40.683125
8,W 20 St & 8 Ave,-74.000040,40.743453
9,Clermont Ave & Lafayette Ave,-73.969689,40.687645
10,Broadway & Berry St,-73.965251,40.710446
11,E 11 St & 2 Ave,-73.986724,40.730473
12,Washington Pl & Broadway,-73.994046,40.729039
13,Lexington Ave & Classon Ave,-73.959282,40.686768
14,Central Park S & 6 Ave,-73.976342,40.765909
15,Greenwich Ave & Charles St,-74.000271,40.735238
16,Sands St & Navy St,-73.979927,40.699773
17,W 20 St & 7 Ave,-73.997262,40.742388
18,E 14 St & Avenue B,-73.977724,40.729387
19,E 48 St & 3 Ave,-73.971879,40.754601
20,Pike St & Monroe St,-73.991930,40.711731
21,South St & Gouverneur Ln,-74.006702,40.703554
22,Water - Whitehall Plaza,-74.012723,40.702551
23,E 17 St & Broadway,-73.990093,40.737050
24,Broadway & W 55 St,-73.981923,40.765265
25,E 47 St & Park Ave,-73.974987,40.755103
26,W Broadway & Spring St,-74.001547,40.724910
27,E 53 St & Madison Ave,-73.974023,40.759711
28,Fulton St & Clermont Ave,-73.969223,40.684157
29,E 13 St & Avenue A,-73.980572,40.729554
...,...,...,...
297,Willoughby St & Fleet St,-73.981302,40.691966
298,9 Ave & W 14 St,-74.005509,40.740583
299,Adelphi St & Myrtle Ave,-73.971789,40.693083
300,Columbia St & Rivington St,-73.980166,40.717400
301,Pearl St & Anchorage Pl,-73.987658,40.702819
302,Hanover Pl & Livingston St,-73.982634,40.688646
303,Madison St & Montgomery St,-73.984844,40.713126
304,12 Ave & W 40 St,-74.002777,40.760875
305,Cleveland Pl & Spring St,-73.997203,40.721816
306,E 25 St & 1 Ave,-73.977387,40.738177
307,Broadway & Battery Pl,-74.013617,40.704633
308,E 48 St & Madison Ave,-73.976684,40.756660
309,West St & Chambers St,-74.013221,40.717548
310,E 25 St & 2 Ave,-73.979738,40.739126
311,Christopher St & Greenwich St,-74.007114,40.732916
312,E 40 St & 5 Ave,-73.981632,40.752062
313,Willoughby Ave & Hall St,-73.965369,40.691960
314,John St & William St,-74.007222,40.708621
315,Greenwich St & N Moore St,-74.010206,40.720434
316,E 20 St & 2 Ave,-73.982050,40.735877
317,E 31 St & 3 Ave,-73.979661,40.743943
318,E 30 St & Park Ave S,-73.983035,40.744449
319,Broadway & W 41 St,-73.986580,40.755136
320,Kent Ave & S 11 St,-73.968341,40.708273
321,W 52 St & 5 Ave,-73.976485,40.759923
322,Harrison St & Hudson St,-74.009001,40.718710
323,E 37 St & Lexington Ave,-73.978311,40.748238
324,11 Ave & W 27 St,-74.005226,40.751396
325,Carlton Ave & Park Ave,-73.973556,40.695807
326,E 52 St & 2 Ave,-73.967416,40.756014

In [138]:
#because it's a small urban area comparing the whole world, we can simplify the distance formula 
#and avoid sophisticated trigonometrics for this specific case
#distance formula in km: ((long1-long2)^2 + (lat1-lat2)^2)^0.5 * 6373 * 3.141592/180 
task3_2 = '''
SELECT DISTINCT start_station_name, start_station_longitude, start_station_latitude,
((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180 AS distance_km,
COUNT(cartodb_id) AS no_of_trips
FROM fb55.citibike
WHERE ((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180 < 0.5
GROUP BY start_station_name, start_station_longitude, start_station_latitude,
((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180
ORDER BY no_of_trips DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_2)), sep=',')

,start_station_name,start_station_longitude,start_station_latitude,distance_km,no_of_trips
0,Broadway & W 41 St,-73.986580,40.755136,0.301580,251
1,Broadway & W 49 St,-73.984427,40.760647,0.357066,213
2,W 45 St & 6 Ave,-73.982912,40.756800,0.325913,141
3,W 45 St & 8 Ave,-73.988597,40.759291,0.367594,141
4,W 43 St & 6 Ave,-73.983169,40.755273,0.390005,112

In [141]:
task4_1 = '''
SELECT start_station_name, start_station_longitude, start_station_latitude,
((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180 AS distance_km,
AVG(tripduration) AS avg_duration
FROM fb55.citibike
WHERE ((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180 < 0.5
AND (LEFT(TO_CHAR(starttime, 'DAY'), 5) = 'SATUR' OR LEFT(TO_CHAR(starttime, 'DAY'), 4) = 'SUND')
GROUP BY start_station_name, start_station_longitude, start_station_latitude, distance_km
ORDER BY avg_duration DESC
LIMIT 1
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task4_1)), sep=',')

,start_station_name,start_station_longitude,start_station_latitude,distance_km,avg_duration
0,Broadway & W 49 St,-73.984427,40.760647,0.357066,1010.104167

In [142]:
task4_Extra = '''
SELECT start_station_name, end_station_name, COUNT(cartodb_id) AS no_of_trips
FROM fb55.citibike
WHERE ((start_station_longitude+73.9857)^2 + (start_station_latitude-40.7577)^2)^0.5 * 6373 * 3.141592/180 < 0.5
AND tripduration < 60*60*2
GROUP BY start_station_name, end_station_name
ORDER BY no_of_trips DESC
'''
pd.read_csv(StringIO.StringIO(queryCartoDB(task4_Extra)), sep=',')

     start_station_name               end_station_name  no_of_trips
0    Broadway & W 49 St       E 43 St & Vanderbilt Ave           15
1       W 45 St & 6 Ave                W 33 St & 7 Ave           14
2       W 43 St & 6 Ave       E 43 St & Vanderbilt Ave           14
3    Broadway & W 41 St                W 33 St & 7 Ave           14
4    Broadway & W 49 St          E 48 St & Madison Ave           13
5       W 45 St & 8 Ave                8 Ave & W 52 St           12
6    Broadway & W 41 St               11 Ave & W 41 St           12
7       W 45 St & 6 Ave                W 41 St & 8 Ave           12
8    Broadway & W 49 St               W 43 St & 10 Ave           12
9       W 45 St & 8 Ave                8 Ave & W 33 St           10
10   Broadway & W 49 St               11 Ave & W 41 St            9
11   Broadway & W 49 St             E 47 St & Park Ave            9
12   Broadway & W 49 St                E 48 St & 3 Ave            7
13      W 43 St & 6 Ave                W 33 St & 7 Ave            7
14   Broadway & W 41 St             Broadway & W 36 St            7
15      W 45 St & 8 Ave                W 45 St & 8 Ave            7
16   Broadway & W 41 St               W 43 St & 10 Ave            7
17   Broadway & W 49 St                W 44 St & 5 Ave            7
18   Broadway & W 49 St                9 Ave & W 45 St            6
19      W 45 St & 6 Ave       E 43 St & Vanderbilt Ave            6
20      W 45 St & 6 Ave        E 37 St & Lexington Ave            6
21   Broadway & W 41 St                6 Ave & W 33 St            6
22   Broadway & W 49 St             Broadway & W 49 St            6
23      W 43 St & 6 Ave             Broadway & W 60 St            6
24   Broadway & W 41 St                E 20 St & 2 Ave            6
25   Broadway & W 49 St                6 Ave & W 33 St            5
26   Broadway & W 49 St                W 33 St & 7 Ave            5
27      W 43 St & 6 Ave                W 42 St & 8 Ave            5
28   Broadway & W 41 St             Broadway & W 24 St            5
29   Broadway & W 49 St               W 52 St & 11 Ave            5
..                  ...                            ...          ...
338     W 45 St & 8 Ave                E 43 St & 2 Ave            1
339     W 45 St & 6 Ave             Broadway & W 24 St            1
340     W 43 St & 6 Ave          Barrow St & Hudson St            1
341     W 43 St & 6 Ave               11 Ave & W 41 St            1
342     W 45 St & 8 Ave               W 52 St & 11 Ave            1
343  Broadway & W 49 St  Christopher St & Greenwich St            1
344     W 45 St & 6 Ave                E 39 St & 2 Ave            1
345  Broadway & W 49 St     Greenwich Ave & Charles St            1
346     W 45 St & 8 Ave             Broadway & W 53 St            1
347     W 45 St & 6 Ave          Pershing Square South            1
348  Broadway & W 49 St             Broadway & W 55 St            1
349     W 45 St & 6 Ave                E 48 St & 3 Ave            1
350     W 45 St & 6 Ave        Allen St & E Houston St            1
351     W 43 St & 6 Ave                W 38 St & 8 Ave            1
352  Broadway & W 41 St                E 43 St & 2 Ave            1
353  Broadway & W 41 St          Pershing Square South            1
354     W 45 St & 8 Ave                E 33 St & 5 Ave            1
355     W 43 St & 6 Ave             Broadway & W 32 St            1
356     W 45 St & 8 Ave             Broadway & W 24 St            1
357  Broadway & W 49 St                W 56 St & 6 Ave            1
358     W 45 St & 6 Ave                E 43 St & 2 Ave            1
359     W 45 St & 8 Ave               W 56 St & 10 Ave            1
360     W 43 St & 6 Ave               10 Ave & W 28 St            1
361  Broadway & W 41 St            E 16 St & Irving Pl            1
362  Broadway & W 49 St             E 17 St & Broadway            1
363     W 45 St & 6 Ave                W 51 St & 6 Ave            1
364  Broadway & W 41 St               W 26 St & 10 Ave            1
365  Broadway & W 41 St        E 53 St & Lexington Ave            1
366  Broadway & W 41 St       Washington Pl & Broadway            1
367     W 45 St & 8 Ave                W 21 St & 6 Ave            1

[368 rows x 3 columns]