In [2]:
import pylab as pl
import pandas as pd
import numpy as np

%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

### Read in data

In [3]:
!curl https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip > citibike201801.zip
!curl https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip > citibike201806.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22.1M  100 22.1M    0     0  45.4M      0 --:--:-- --:--:-- --:--:-- 45.4M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 61.6M  100 61.6M    0     0  64.7M      0 --:--:-- --:--:-- --:--:-- 64.7M

In [4]:
# ove the downloaded data to PUI data
print("PUIDATA", os.getenv("PUIDATA"))

PUIDATA /nfshome/ys3226/PUIdata

In [5]:
#create the env variable if missing
os.environ["PUIDATA"] = "%s/PUIDATA"%os.getenv("HOME")

print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/ys3226/PUIDATA

In [6]:
# move the data
!mv citibike201801.zip $PUIDATA
!mv citibike201806.zip $PUIDATA

In [7]:
#test if the data is there
!ls $PUIDATA

busdata.txt	    citibike201806.zip	citibike201807.zip  PLUTO_for_WEB
citibike201801.zip  citibike201807.csv	citybike.zip

In [8]:
cb201806 = pd.read_csv("%s/citibike201806.zip"%os.getenv("PUIDATA"))
cb201801 = pd.read_csv("%s/citibike201801.zip"%os.getenv("PUIDATA"))

In [9]:
cb201801.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [10]:
cb201806.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [36]:
#append two datasets
cb = cb201801.append(cb201806, ignore_index=True)

In [37]:
#create the hour variable to specify the time of the day
cb['usehour'] = pd.to_datetime(cb['starttime']).dt.hour

## SPLIT BY CATEGORY

H0: there is no statistical difference in the trip durations of daytime and nighttime bike riding 

$$ \alpha = 0.05 $$

In [38]:
cb['daytime'] = np.where((cb['usehour'] > 6) & (cb['usehour'] < 18), 'day', 'night')

In [39]:
cb.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'usehour', 'daytime'],
      dtype='object')

In [33]:
cb_trip = cb

In [34]:
#dropping some data I no longer need
cb_trip.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'birth year', 'gender', 'usehour'], axis=1, inplace=True)

ValueError: labels ['starttime' 'stoptime' 'start station id' 'start station name'
 'start station latitude' 'start station longitude' 'end station id'
 'end station name' 'end station latitude' 'end station longitude' 'bikeid'
 'birth year' 'gender' 'usehour'] not contained in axis

In [ ]:
df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

In [24]:
cb_trip.head()

   tripduration daytime
0           970     day
1           723     day
2           496     day
3           306     day
4           306   night

In [29]:
# dropping NaN values
cb_trip['tripduration'].dropna(inplace= True)
cb_trip['daytime'].dropna(inplace= True)

In [30]:
cb_trip.describe()

       tripduration
count  2.672097e+06
mean   1.107858e+03
std    2.772001e+04
min    6.100000e+01
25%    3.640000e+02
50%    6.120000e+02
75%    1.071000e+03
max    1.951005e+07

In [ ]:
# split trip durations in 200 second bins 
# plotting histograms with pandas 
bins = np.arange(100, 5000, 200)
axM = cb_trip.ageM.groupby(pd.cut(df.ageM, bins)).agg([count_nonzero]).plot(kind='bar', 
                                                                legend=False)
axM.set_title("male riders")
axF = df.ageF.groupby(pd.cut(df.ageF, bins)).agg([count_nonzero]).plot(kind='bar',
                                                                legend=False)
axF.set_title("female riders");