In [1]:
import pylab as pl
import pandas as pd
import numpy as np

%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

### Read in data

In [2]:
!curl https://s3.amazonaws.com/tripdata/201801-citibike-tripdata.csv.zip > citibike201801.zip
!curl https://s3.amazonaws.com/tripdata/201806-citibike-tripdata.csv.zip > citibike201806.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22.1M  100 22.1M    0     0  44.0M      0 --:--:-- --:--:-- --:--:-- 43.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 61.6M  100 61.6M    0     0  77.7M      0 --:--:-- --:--:-- --:--:-- 77.6M

In [3]:
# ove the downloaded data to PUI data
print("PUIDATA", os.getenv("PUIDATA"))

PUIDATA /nfshome/ys3226/PUIdata

In [4]:
#create the env variable if missing
os.environ["PUIDATA"] = "%s/PUIDATA"%os.getenv("HOME")

print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/ys3226/PUIDATA

In [5]:
# move the data
!mv citibike201801.zip $PUIDATA
!mv citibike201806.zip $PUIDATA

In [6]:
#test if the data is there
!ls $PUIDATA

ACS_16_1YR_GCT2801.ST50_metadata.csv
ACS_16_1YR_GCT2801.ST50.txt
ACS_16_1YR_GCT2801.ST50_with_ann.csv
aff_download_readme_ann.txt
busdata.txt
citibike201801.zip
citibike201806.zip
citibike201807.csv
citibike201807.zip
citybike.zip
geo_export_636de871-8e98-487e-9145-74d53a689e04.dbf
geo_export_636de871-8e98-487e-9145-74d53a689e04.prj
geo_export_636de871-8e98-487e-9145-74d53a689e04.shp
geo_export_636de871-8e98-487e-9145-74d53a689e04.shx
geo_export_dae87114-9002-4016-b067-c7b122f00335.dbf
geo_export_dae87114-9002-4016-b067-c7b122f00335.prj
geo_export_dae87114-9002-4016-b067-c7b122f00335.shp
geo_export_dae87114-9002-4016-b067-c7b122f00335.shx
linkNYC.csv
PLUTO_for_WEB

In [7]:
cb201806 = pd.read_csv("%s/citibike201806.zip"%os.getenv("PUIDATA"))
cb201801 = pd.read_csv("%s/citibike201801.zip"%os.getenv("PUIDATA"))

In [8]:
cb201806 = cb201806[::1000]
cb201801 = cb201801[::1000]

In [11]:
cb201801.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1000,629,2018-01-25 18:58:23.9490,2018-01-25 19:08:53.2360,72,W 52 St & 11 Ave,40.767272,-73.993929,3233,E 48 St & 5 Ave,40.757246,-73.978059,16386,Subscriber,1957,1
2000,907,2018-01-23 15:23:21.0930,2018-01-23 15:38:28.9190,79,Franklin St & W Broadway,40.719116,-74.006667,357,E 11 St & Broadway,40.732618,-73.991580,16757,Subscriber,1968,1
3000,472,2018-01-10 23:02:26.3850,2018-01-10 23:10:18.5380,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,3546,Pacific St & Classon Ave,40.679194,-73.958790,30094,Subscriber,1985,1
4000,949,2018-01-21 13:37:18.5130,2018-01-21 13:53:07.8760,120,Lexington Ave & Classon Ave,40.686768,-73.959282,3440,Fulton St & Adams St,40.692418,-73.989495,16425,Subscriber,1982,2

In [12]:
cb201806.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1000,229,2018-06-07 20:55:07.2610,2018-06-07 20:58:57.2510,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,30852,Subscriber,1985,1
2000,1067,2018-06-13 19:54:48.4360,2018-06-13 20:12:35.6840,72,W 52 St & 11 Ave,40.767272,-73.993929,347,Greenwich St & W Houston St,40.728846,-74.008591,14950,Subscriber,1992,2
3000,77,2018-06-20 09:34:38.2740,2018-06-20 09:35:56.0430,72,W 52 St & 11 Ave,40.767272,-73.993929,72,W 52 St & 11 Ave,40.767272,-73.993929,31284,Subscriber,1971,1
4000,591,2018-06-26 20:31:40.7010,2018-06-26 20:41:32.3730,72,W 52 St & 11 Ave,40.767272,-73.993929,500,Broadway & W 51 St,40.762288,-73.983362,27750,Customer,1985,1

In [13]:
#append two datasets
cb = cb201801.append(cb201806, ignore_index=True)

In [14]:
#create the hour variable to specify the time of the day
cb['usehour'] = pd.to_datetime(cb['starttime']).dt.hour

## SPLIT BY CATEGORY

H0: there is no statistical difference in the trip durations of daytime and nighttime bike riding 

$$ \alpha = 0.05 $$

In [15]:
cb['daytime'] = np.where((cb['usehour'] > 6) & (cb['usehour'] < 18), 'day', 'night')

In [16]:
cb.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'usehour', 'daytime'],
      dtype='object')

In [17]:
cb_trip = cb

In [19]:
cb.columns[1:3]

Index(['starttime', 'stoptime'], dtype='object')

In [ ]:
#dropping some data I no longer need
cb_trip.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid',
       'birth year', 'gender', 'usehour'], axis=1, inplace=True)

In [ ]:
df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

In [ ]:
cb_trip.head()

In [ ]:
# dropping NaN values
cb_trip['tripduration'].dropna(inplace= True)
cb_trip['daytime'].dropna(inplace= True)

In [ ]:
cb_trip.describe()

In [ ]:
# split trip durations in 200 second bins 
# plotting histograms with pandas 
bins = np.arange(100, 5000, 200)
axM = cb_trip.ageM.groupby(pd.cut(df.ageM, bins)).agg([count_nonzero]).plot(kind='bar', 
                                                                legend=False)
axM.set_title("male riders")
axF = df.ageF.groupby(pd.cut(df.ageF, bins)).agg([count_nonzero]).plot(kind='bar',
                                                                legend=False)
axF.set_title("female riders");